#contact_modal {
    display: none;
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    height: 100%;
    width: 100%;
    overflow: auto;
    background-color: rgba(26, 39, 156, 0.4);
}
main {
    padding: 100px;
}
.logo {
    height: 50px;
    margin-left: 100px;
    margin-top: 42px;
}
.photograph-header {
    background-color: #FAFAFA;
    width: 100%;
    height: 300px;
}
.photograph_card {
    display: flex;
    flex-direction: row-reverse;
    justify-content: space-between;
    align-items: center;
    padding: 34px;
}
.photograph_description h2 {
    color: #D3573C;
    font-size: 36px;
    margin: 0px;
}
.photograph_description p {
    color: #525252;
    font-family: DM Sans;
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

.format-location {
    display: flex;
}
.comma {
    color: #901C1C;
    font-family: DM Sans;
    font-size: 24px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    display: flex;
    align-items: center;
    margin-right: 2px;
}
.format-location h3 {
    color: #901C1C;
    font-family: DM Sans;
    font-size: 24px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}
.contact_button {
    font-size: 20px;
    font-weight: bold;
    color: white;
    padding: 11px;
    width: 170px;
    height: 70px;
    border: none;
    background-color: #901C1C;
    border-radius: 5px;
    cursor: pointer;
}

.send_button {
    font-size: 20px;
    font-weight: bold;
    color: white;
    padding: 11px;
    width: 170px;
    height: 70px;
    border: none;
    background-color: #901C1C;
    border-radius: 5px;
    cursor: pointer;
}
.format-image img {
    width: 100%;
    height: 100%;
    object-fit: cover;

}

.format-image {
    width: 200px;
    height: 200px;
    overflow: hidden;
    border-radius: 50%;
    fill: #C4C4C4;
    filter: drop-shadow(0px 4px 12px rgba(0, 0, 0, 0.25));
}
.photograph-media {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-column-gap: 95px;
    grid-row-gap: 30px;
    padding-top: 100px;
}
.media_image img,
.media_image video {
    width: 100%;
    height: 300px;
    object-fit: cover;
    cursor: pointer;
    border-radius: 5px;
}
.media_description {
    display: flex;
    justify-content: space-between;
    width: 100%;
}
.media_description h2 {
    color: #901C1C;
    font-family: DM Sans;
    font-size: 24px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;

    margin: 0px;
}
.media_description span {
    color: #901C1C;
    text-align: right;
    font-family: DM Sans;
    font-size: 24px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;

    margin: 0px;
}
.likes_number {
    display: flex;
    justify-content: center;

}
.likes_number span {
    margin-right: 5px;
    

}
.likes_number i {
    display: flex;
    align-items: center;
    width: 21px;
    height: 24px;
    color: #901C1C;
    margin: auto;
    cursor: pointer;
}
.modal {
    border-radius: 5px;
    background-color: #DB8876;
    width: 30%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    padding: 35px;
    margin: auto;
    margin-top: 2%;
}

.modal header {
    display: flex;
    justify-content: space-between;
    width: 100%;
    margin-bottom: 30px;
}
.modal_header span {
    font-size: 64px;
    font-weight: normal;
    text-align: center;
    
}
.modal_header_img {
    display: flex;
    align-items: start;
    cursor: pointer;
}

.modal header h2 {
    font-size: 64px;
    font-weight: normal;
    text-align: center;
    margin: 0;
}

form {
    display: flex;
    width: 100%;
    flex-direction: column;
    align-items: flex-start;
}

form label {
    color: #312E2E;
    font-size: 36px;
}

form div {
    display: flex;
    flex-direction: column;
    width: 100%;
    align-items: self-start;
    margin-bottom: 26px;
}

form input {
    width: 100%;
    height: 68px;
    border: none;
    border-radius: 5px;
}
#message {
    height: 170px;
}

.lightbox {
    display: none;
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    padding-top: 3%;
    width: 100%;
    height: 100%;
    background: #fff;
    overflow: auto;
}

.lightbox-content {
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: relative;
    margin: auto;
    width: 1253px;
    height: 900px;
}
.media-content {
    width: 1050px;
    height: 900px;
}

.close {
    position: absolute;
    top: -15px;
    right: 25px;
    width: 72px;
    height: 72px;
    color: #901C1C;
    cursor: pointer;
}
.img-slides {
    width: 100%;
    height: 100%;
}
.img-slides img {
    width: 100%;
    object-fit: cover;
}
.img-slides h2 {
    margin: 12px 0px 0px 0px;
    text-align: start;

    color: #901C1C;
    font-family: DM Sans;
    font-size: 24px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

.media-container {
    display: flex;
    justify-content: space-between;
}

.prev,
.next {
    width: 96px;
    height: 96px;
    background: none;
    border: none;
    color: #fff;
    cursor: pointer;
    padding: 10px;
}

.media-content {
    text-align: center;
}

.media-content img,
.media-content video {
    max-width: 100%;
    max-height: 80vh;
}

.hidden-media {
    display: none;
}

.likes_price {
    width: 376px;
    height: 69px;
    display: flex;
    flex-direction: row-reverse;
    justify-content: space-around;
    align-items: center;
    position: fixed;
    bottom: 0;
    right: 36px;
    z-index: 1;
    border-radius: 5px;
    background-color: #DB8876;
}
.number {
    color: #000;
    text-align: right;
    font-family: DM Sans;
    font-size: 24px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;

    margin-left: 31px;
}
.number i {
    width: 21px;
    font-size: 24px;
    margin-left: 5px;
}
.price_container {
    color: #000;
    text-align: center;
    font-family: DM Sans;
    font-size: 24px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;

    margin-right: 34px;
}

.filter {
    display: flex;
    align-items: center;
    margin-top: 9px;
  }
  
  .filter p {
    color: #000;
    font-family: DM Sans;
    font-size: 18px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    margin-right: 25px;
  }
  .dropdown {
    position: relative;
    display: inline-block;
    align-items: center;
    width: 170px;
    height: 69px;
    flex-shrink: 0;
    border-radius: 5px;
    background: #901C1C;
  }
  
  .dropdown-toggle {
    cursor: pointer;
    display: flex;
    justify-content: space-between;
    width: auto;
    height: 100%;
    text-align: center;
    align-items: center;
    padding: 0px 20px;
    color: #FFF;
    font-family: DM Sans;
    font-size: 18px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
  }
  
  .arrow {
    margin-left: 5px;
    transition: transform 0.3s;
  }
  
  .dropdown-options {
    display: none;
    position: absolute;
    background-color:  #901C1C;
    box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.2);
    list-style: none;
    padding: 0;
    margin: 0;
    z-index: 1;
  }
  .show {
    display: block;
    position: absolute;
    background-color:  #901C1C;
    box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.2);
    width: 100%;
    list-style: none;
    padding: 0;
    margin: 0;
    z-index: 1;
  }

  .dropdown-options li {
    color: #FFF;
    font-family: DM Sans;
    font-size: 18px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    padding: 10px 10px 10px 20px;
    cursor: pointer;
    border-top: 1px solid #ccc;
  }
  
  .selected-option {
    margin-right: 5px;
  }